@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
    background-color: hsl(204, 43%, 93%);
}

main{
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 45vw;
    height: 70vh;
    box-shadow: -5px 5px 15px 8px hsl(203, 21%, 88%);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45% 55%;
    grid-template-areas: 
    "header header"
    "left right";
}

.header-card{
    grid-area: header;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px;
}

.title{
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.subtitle{
    color:hsl(71, 73%, 54%);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.txt-header{
    width: 90%;
    color: hsl(218, 22%, 67%);
    font-size: 1rem;
    line-height: 24px;
}

.right-side{
    grid-area: right;
    background-color:hsl(179, 55%, 49%);
    border-bottom-right-radius: 10px;
    padding: 30px;
}

.subtitle-right, .subtitle-left{
    color:hsl(204, 43%, 93%);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.txt-right{
    color: hsl(204, 43%, 93%);
    font-size: 1rem;
    font-weight: 400;
    list-style: none;
    line-height: 20px;
}

.left-side{
    grid-area: left;
    background-color:  hsl(179, 62%, 43%);
    border-bottom-left-radius: 10px;
    padding: 30px;
}

.price{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.number{
    color: hsl(204, 43%, 93%);
    font-size: 2rem;
    font-weight: 700;
    margin-right: 15px;
}

.price span{
    color: hsl(218, 23%, 81%);
    font-weight: 400;
    font-size: 1rem;
}

.access{
    color: hsl(204, 43%, 93%);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 35px;
}

.sign{
    width: 100%;
    height: 22%;
    background-color: hsl(71, 73%, 54%);
    color: hsl(204, 43%, 93%);
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    box-shadow: -3px 3px 15px hsl(179, 63%, 34%);
}

footer{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
